---
layout: default
title: Latest Articles
---
<div class="hero-unit">
  <h3>The team and technology behind <a href="http://outright.com">Outright.com</a>.</h3>
</div>


<section class="post-list">
  <div class="span8">
  <ul class="posts unstyled">
    {% for post in paginator.posts %}
    {% assign author = site.authors[post.author] %}
    <li>
      <div class="row-fluid">
        <div class="span3">
          <p class="meta" style="text-align: right;">
            <img class="avatar thumbnail" style="display: inline" href="{{ author.display_name }}" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" width="40" height="40">
            <br />
            {{ post.date | date_to_string }}<br/>
            by <strong>{{ author.display_name }}</strong><br />
            <a class="comments" href="{{ post.url }}#comments_thread"><fb:comments-count href="{{ site.base_url }}{{ post.url }}"></fb:comments-count> Comments</a>
          </p>
        </div>
        <div class="span8">
          <h2><a class="title" href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.content | truncatehtml: 200 }}</p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  </div>
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="prev" href="/#posts">&laquo; Newer Posts</a>
      {% else %}
        <a class="prev" href="/page{{ paginator.previous_page }}#posts">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a class="next" href="/page{{ paginator.next_page }}#posts">Older Posts &raquo;</a>
    {% endif %}
  </div>
</section>
