---
layout: new
title: Latest Articles
---
<div class="page-header">
  <h1 class="page-title">Melanie's Contemporary Glass Art</h1>
  <h2 class="subtitle">The team and technology behind <a href="http://outright.com">Outright.com</a>.</h3>
</div> <!-- /.page-header -->

<div id="content">
  <section class="posts">
    {% for post in paginator.posts %}
    {% assign author = site.authors[post.author] %}
    <article class="post">
      <div class="post-content">
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.content | truncatehtml: 200 }}</p>
      </div> <!-- /.post-content -->
      <aside class="meta">
        <p><img class="avatar thumbnail" href="{{ author.display_name }}" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" width="40" height="40"></p>
        <p class="post-date">{{ post.date | date_to_string }}</p>
        <p class="byline">by <span class="author">{{ author.display_name }}</span></p>
        <p><a class="comments" href="{{ post.url }}#comments_thread"><fb:comments-count href="{{ site.base_url }}{{ post.url }}"></fb:comments-count> comments</a></p>
      </aside> <!-- /.meta -->
    </article> <!-- /.post -->
    {% endfor %}
  </section> <!-- /.posts -->
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="prev" href="/#posts">&laquo; Newer Posts</a>
      {% else %}
        <a class="prev" href="/page{{ paginator.previous_page }}#posts">&laquo; Newer posts</a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a class="next" href="/page{{ paginator.next_page }}#posts">Older posts &raquo;</a>
    {% endif %}
  </div>
</div> <!-- /#content -->
<div id="sidebar">

</div> <!-- /#sidebar -->


