/*-----[ header ]---------------------------------------------------------------
| Common page header styles.
*/
header.global
{
  nav ul
  {
    margin: 0 0 $body-text-line-height;
    list-style: none;

    li
    {
      display: inline-block;
      margin-right: $column-width;
    }
  }
}
