/*-----[ page ]-----------------------------------------------------------------
| Top-level styles for content. Otherwise unqualified styles should go here.
*/
#page
{
  padding: $body-text-line-height $column-width;

  @media (min-width: 500px)
  {
    margin: $body-text-line-height $gutter-width;
  }

  @media (min-width: 768px)
  {
    margin: $section-spacing auto;
    max-width: $max-page-width;
  }

  .annotation,
  .fine-print,
  .form-help
  {
    color: $secondary-text-color;
    font-weight: normal;
    font-style: italic;
  }

  .fine-print, .form-help
  {
    margin: 0;
    @include small-text;
  }

  .subtitle
  {
    font-weight: normal;
  }

  .subheading
  {
    font-weight: bold;
  }

  #content-container
  {
    @include clearfix;
  }

  #content
  {
    @media (min-width: 480px)
    {
      max-width: $max-content-width;
    }

    @media (min-width: 768px)
    {
      float: left;
      margin-right: $gutter-width;
    }
  }
}
