<ul class="nav nav-tabs nav-stacked authors">
<li class="nav-header">Authors</li>
{% for author_id in site.author_ids %}
  {% assign author = site.authors[author_id] %}
  <li class="">
    <div class="row-fluid">
      <div class="span2 thumbnail">
        <img class="avatar" href="{{ author.display_name }}" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" width="40" height="40">
      </div>
      <div class="span8">
        <div class="author"><strong>{{ author.display_name }}</strong></div>
        <a class="twitter" href="https://twitter.com/#!/{{ author.twitter }}" title="Follow {{ page.author | capitalize }} on Twitter"><img src="/images/twitter_icon.png"></a>
        <a class="github" href="https://github.com/{{ author.github }}" title="Follow {{ page.author | capitalize }}'s code on GitHub"><img src="/images/github_icon.png"></a>
      </div>
    </div>
  </li>
{% endfor %}
</ul>
