/*-----[ post ]-----------------------------------------------------------------
| Styles for blog posts
*/
.post
{
  .meta
  {
    @include clearfix;

    p
    {
      margin: 0;
    }

    .gravatar
    {
      float: left;
      margin-right: $column-width / 2;
    }
  }
}
